@mixin before_circle {
    &:before {
        content: '';
        width: 54px;
        height: 54px;
        border-radius: 100%;
        background: $main_color;
        position: absolute;
        top: -25%;
        left: -1px;
        z-index: -1;
    }
}
@mixin before_circle-main {
    &:before {
        content: '';
        width: 36px;
        height: 36px;
        border-radius: 100%;
        background: $main_color;
        position: absolute;
        top: -25%;
        left: 0;
        z-index: -1;
    }
}