@mixin before_circle {
    &:before {
        content: '';
        width: 54px;
        height: 54px;
        border-radius: 100%;
        background: $main_color;
        position: absolute;
        top: -25%;
        left: -2%;
        z-index: -1;
    }
}