.footer {
    background: #1A1A1A;
    &__btn {
        display: block;
        margin: 0 auto;
        padding: 10px 0 0 0;
        width: 30px;
        height: 30px;
        cursor: pointer;
        position: relative;
        img {
            position: absolute;
            width: 100%;
            height: 100%;
            animation-duration: 1s;
            animation-name: slidein;
            animation-delay: 1s;
            animation-iteration-count: infinite;
        }
    }
    &__top {
        font-weight: 700;
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        letter-spacing: 0.18538em;
        color: #FFFFFF;
        padding-top: 10px;
    }
    &__desc-social {
        padding: 25px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 150px;
        margin: 0 auto;
        a {
            text-decoration: none;
            color: #fff;
        }
        .icon-telegram {
            font-size: 30px;
            &::before {
                content: "\e903";
                color: #fff;
            }
        }
        .icon-instagram {
            font-size: 30px;
            &::before {
                content: "\e902";
                color: #fff;
            }
        }
        .icon-github {
            font-size: 30px;
            &::before {
                content: "\e901";
                color: #fff;
            }
        }
        .icon-viber {
            font-size: 30px;
            &::before {
                content: "\e904";
                color: #fff;
            }
        }
    }
}

@keyframes slidein {
    from {
      top: 10px;
    }
  
    to {
      top: 0;
    }
  }