@media (max-width: 1439px) {
    .sidepanel {
        display: none;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    .main {
        &__bg {
            width: 60%;
        }
    }
    .about {
        &__skills {
            column-gap: 20px;
        }
    }
    .resume {
        &__wrapper {
            padding: 0;
            column-gap: 50px;
            grid-template-columns: repeat(2,455px);
        }
    }
    .skills {
        &__wrapper {
            padding: 0 15px;
            grid-template: repeat(2, minmax(270px, auto)) / repeat(3, 290px);
        }
    }
    .work {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 280px);
            grid-auto-rows: 280px;
            justify-content: space-around;
            row-gap: 30px;
        }
    }
    .contact {
        &__wrapper {
            grid-template-columns: 400px 520px;
            column-gap: 40px;
            padding: 0;
        }
        &__form {
            grid-template-columns: repeat(2, 245px);
        }
    }
}

@media (max-width: 992px) {
    .header {
        &__list-item {
            a {
                color: #000;
                &:hover {
                    color: #000;
                }
            }
        }
    }
    .container {
        max-width: 720px;
    }
    .main {
        &__bg {
            width: 60%;
        }
        .intro-main {
            &__title {
                line-height: 40px;
            }
            &__img {
                width: 35%;
            }
            &__link {
                &:hover {
                    color: #000;
                }
            }
        }
    }
    .about {
        &__wrapper {
            flex-direction: column;
        }
        &__img {
            grid-row: unset;
        }
        &__skills {
            grid-template: auto / 400px;
            grid-template-columns: repeat(2, 1fr);
        }
        .skills-about {
            &__item {
                grid-template-columns: 55px 260px;
                column-gap: 20px;
            }
        }
    }
    .resume {
        &__wrapper {
            grid-template-columns: 1fr;
        }
    }
    .skills {
        &__wrapper {
            padding: 0 15px;
            grid-template: repeat(2, minmax(270px, auto)) / repeat(2, 330px);
        }
        &__items {
            &:hover {
                box-shadow: unset;
            }
        }
    }
    .price {
        &__wrapper {
            padding: 0;
            grid-template-columns: repeat(auto-fit, 345px);
        }
    }
    .work {
        &__item {
            &:hover {
                filter: unset;
            }
        }
    }
    .contact {
        &__wrapper {
            grid-template-columns: 300px 380px;
        }
        &__form {
            grid-template-columns: repeat(2,180px);
            grid-template-rows: 45px 190px 45px 45px;
            column-gap: 15px;
            &-triggers {
                grid-template: repeat(2, 50px) / 320px;
                align-items: center;
                justify-content: center;
            }
            &-policy {
                justify-content: center;
                order: 1;
            }
        }
        .checkbox__label {
            justify-content: center;
            &::after {
                left: 11px;
            }
        }
    }
    .button {
        &_form {
            justify-self: center;
            order: 2;
        }
        &:hover {
            box-shadow: unset;
        }
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .title {
        font-size: 30px;
        &_main {
            color: #fff;
        }
    }
    .main {
        &__bg {
            width: 65%;
        }
        .intro-main {
            &__title {
                line-height: 40px;
            }
            &__img {
                width: 40%;
                padding-left: 25px;
            }
        }
        .intro-main__btns {
            a {
                color: #302f31;
            }
        }
    }
    .about {
        padding-top: 40px;
        &__wrapper {
            grid-template: 400px auto auto / 100%;
        }
        &__skills {
            grid-template-columns: auto;
        }
        .skills-about {
            &__item {
                grid-template-columns: 55px auto;
            }
        }
    }
    .skills {
        &__wrapper {
            padding: 0 15px;
            grid-template: repeat(1, minmax(270px, auto)) / repeat(1, 300px);
            justify-content: center;
        }
        &__percent {
            padding: 0;
            grid-template-columns: 400px;
            justify-content: center;
        }
    }
    .work {
        padding-top: 70px;
    }
    .price {
        &__wrapper {
            justify-content: center;
        }
    }
    .contact {
        padding: 70px 0 92px 0;
        &__wrapper {
            grid-template-columns: 100%;
            width: 75%;
        }
        &__img {
            display: none;
        }
        &__form {
            grid-template-columns: repeat(2,1fr);
            &-triggers {
                justify-content: center;
            }
        }
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 100%;
        padding: 0 15px;
    }
    .subtitle {
        &_main {
            color: #fff;
        }
    }
    .promo {
        &__bg {
            // font-size: 18px;
            white-space: normal;
        }
    }
    .title {
        &_main {
            font-size: 28px;
        }
        &_blocks {
            font-size: 28px;
        }
    }
    .header {
        &__items {
            gap: 10px;
        }
    }
    .main {
        min-height: 100vh;
        padding: 120px 0;
        background: url('../img/main_bg-min.jpeg') no-repeat center center / cover;
        &__bg {
            display: none;
        }
        .intro-main{
            background: #bababa54;
            padding: 45px 10px;
            border-radius: 8px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90vw;
            &__info {
                text-align: start;
                font-size: 25px;
                color: #fff;
            }
            &__title {
                color: #fff;
            }
            &__web {
                color: #fff;
            }
            &__btns {
                margin: 21px 0 0 0;
                max-width: 260px;
                a {
                    color: #fff;
                    text-align: center;
                    width: 50%;
                }
            }
            &__img {
                display: none;
            }
        }
        
    }
    .about {
        &__wrapper {
            grid-template: 300px auto auto / 100%;
        }
        &__skills {
            grid-template-columns: 1fr;
            row-gap: 30px;
        }
        .skills-about {
            &__item {
                grid-template-columns: 55px 1fr;
            }
        }
    }
    .resume {
        padding-top: 75px;
    }
    .skills {
        &__percent {
            padding: 0;
            grid-template-columns: 1fr;
            margin-top: 60px;
        }
    }
    .price {
        &__wrapper {
            grid-template-columns: repeat(auto-fit, 290px);
        }
    }
    .contact {
        &__wrapper {
            width: 100%;
        }
        &__form {
            grid-template: 45px 45px 190px 115px / 100%;
            &-textarea {
                grid-column: unset;
            }
            &-triggers {
                grid-column: unset;
                align-items: flex-start;
                grid-template: repeat(2, 50px) / 80vw;
                row-gap: 15px;
            }
            &-policy {
            }
            .checkbox__label {
                &::after {
                    left: 2px;
                }
            }
        }
        .checkbox__label {
            // width: 70%;
        }
    }
    .modal {
        width: 80%;
        &__close {
            top: 8px;
            right: 4px;
        }
    }
}

@media (max-width: 376px) {
    .contact {
        .checkbox__label {
            span {
                width: 50vw;
            }
        }
    }
}