.promo {
    min-height: 100vh;
    background-color: $bg_color;
    padding: 0 15px;
    border-bottom: 1px solid #000;
    overflow: hidden;
    &__wrapper {
        animation: marquee 3s ease;
        padding-top: 250px;
    }
    &__text {
        position: relative;
        color: #302f31;
        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: -10px;
            width: 60px;
            height: 2px;
            background-color: $main_color;
        }
        &::after {
            content: '';
            display: block;
            position: absolute;
            top: 40px;
            left: -48px;
            width: 80px;
            height: 2px;
            background-color: $main_color;
            transform: rotate(90deg);
        }
    }
    
    &__title {
        font-size: 50px;
    }
    
    &__subtitle {
        font-size: 40px;
        border-bottom: 2px solid $main_color;
        max-width: fit-content;
    }
    
    &__desc {
        font-size: 20px;
        margin-top: 10px;
    }

    &__bg {
        font-weight: 700;
        font-style: normal;
        font-size: 36px;
        opacity: 0.7;
        letter-spacing: -1px;
        color: $main_color;
        overflow: hidden;
        width: 100%;
        white-space: nowrap
    }

    &__bg-develop {
        font-family: "Briem Hand", cursive;
    }
}

@keyframes marquee {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}