.sidepanel {
    position: fixed;
    @extend %flex-elem;
    flex-direction: column;
    height: 338px;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    left: 42px;
    &__divider {
        height: 70px;
        width: 2px;
        background-color: #000;
    }
    &__text {
        height: 150px;
        width: 25px;
        span {
            transform: rotate(-90deg) translate(-30%, -260%);
            display: block;
            width: 150px;
            color: #000;
        }
    }
    .icon-telegram {
        text-decoration: none;
        transform: rotate(-90deg);
        font-size: 20px;
        
        &::before {
            content: "\e903";
            color: #000;
            transition: color 0.3s ease;
        }
        &:hover::before {
            color: $main_color;
        }
    }
    .icon-instagram {
        text-decoration: none;
        transform: rotate(-90deg);
        font-size: 20px;
        &::before {
            content: "\e902";
            color: #000;
            transition: color 0.3s ease;
        }
        &:hover::before {
            color: $main_color;
        }
    }
    .icon-github {
        text-decoration: none;
        transform: rotate(-90deg);
        font-size: 20px;
        &::before {
            content: "\e901";
            color: #000;
            transition: color 0.3s ease;
        }
        &:hover::before {
            color: $main_color;
        }
    }
}