.subtitle {
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    &_main {
        font-size: 24px;
    }
}
.title {
    font-weight: bold;
    font-size: 36px;
    color: #000000;
    &_main {
        line-height: 130%;
        font-size: 46px;
    }
    &_sub {
        font-size: 20px;
        line-height: 150%;
    }
    &_edu {
        font-size: 14px;
        line-height: 114%;
    }
}

@media (max-width: 576px) {
    .subtitle {
        &_main {
            color: #fff;
            font-size: 20px;
        }
    }
    .title {
        &_main {
            color: #fff;
            font-size: 32px;
        }
        &_blocks {
            font-size: 32px;
        }
    }
}
